.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.1rem;
  width: 100%;
}

.leaderboard-content {
  max-height: 20rem;
  overflow-y: auto;
  width: 100%;
}

.leaderboard-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.colour-count {
  padding-right: 0.1rem;
  border: 1px solid black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 20px;
}

.colour-bar {
  border: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header {
  padding-bottom: 1rem;
  font-weight: bold;
}
